@use '../../styles/mixins' as *;

header {
    height: 108px;
    @include dFlex($jc: space-between);
    padding: 10px 96px;
    position: fixed;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
}

.resp-logo {
    display: none;
}

.login-btn {
    @include button-style();
}

.landing-container {
    @include dFlex();
    flex-direction: column;
    position: relative;
    z-index: 3;
    text-align: center;
    width: 100%;
}

.landing-content {
    @include dFlex();
    flex-direction: column;
    gap: 24px;
}

.email-text {
    font-size: 18px;
    font-weight: 400;
}

.landing-text {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    @include dFlex();
    flex-direction: column;
    gap: 24px;
}

.mobile-text {
    display: none;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}

.sign-up-btn {
    @include button-style($g: 4px);
    font-size: 18px;
}

.landing-input {
    @include dFlex($jc: space-around);
    width: 100%;
    margin-top: 8px;

    input {
        box-sizing: border-box;
        border-radius: 40px;
        padding: 12px 24px;
        border: 1px solid white;
        height: 48px;
        width: 360px;
        background: #1C1A20CC
    }

    input::placeholder {
        color: white;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 108px;
    color: white;
    @include dFlex();
    font-size: 18px;
    gap: 48px;

    span {
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

@media (max-width: 768px) {
    header {
            padding: 10px 16px;
    }

    .resp-logo {
        display: block;
    }

    .mobile-text {
        display: block;
    }

    .logo {
        display: none;
    }

    .landing-container {
        padding: 0 16px;
    }

    .landing-content {
        gap: 16px;
    }

    .email-text {
        font-size: 16px;
    }

    .landing-text {
        font-size: 40px;
        gap: 16px;
    }

    .landing-input {
        flex-direction: column;

        input {
            width: 100%;
            margin-bottom: 16px;
        }
    }

    footer {
        padding: 10px 16px;

    }
}