app-landing-component {
    background-image: url(/images/landing-img.jpg);
    object-fit: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    color: white;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(ellipse at center,
                rgba(0, 0, 0, 0.75) 30%,
                rgba(0, 0, 0, 4.5) 100%);
        z-index: 1;
    }

}